/* body.MyPetPage {
  background-image: url("../images/animalsHome.png");
} */

.my-pet-card {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-right: 5px;
  margin-left: 5px;
  margin-top: 30px;
}

.myPetPageImg {
  position: relative;
}

.myPetPageImg::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  opacity: 0.5;
  z-index: -1;
  background-size: cover;
  background-position: center;
}

/* img .pet-image {
  width: 100%;
  height: auto;
  object-fit: fill;
} */
