/* .PetPageMainContainer {
  background-image: linear-gradient(to right, #302f2f, #fff);
  border: 0.5px solid #434343;

  height: 100%;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
} */

.cardContainer {
  position: relative;
  /* Adjust the size of the card container based on your card size */
  width: 300px;
  height: 400px;
}

.cardBody {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 400px;
  margin: 0 auto;

  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 8px;
  box-shadow: 8px 8px 8px rgba(0, 0, 0, 0.4);
  padding: 20px;
  text-align: center;
  height: 70vh;
  border: 2px solid #ccc;
  margin-right: 3vw;
  margin-bottom: 6vh;
}

.cardBody:hover {
  transform: scale(1.1);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.4);
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.cardBody img {
  width: 80%;
  height: 70%;
  object-fit: cover;
  object-position: top left;
  border-radius: 50%;
  border: 1px solid #2a2a37;
}

.pet-name {
  font-family: "Ysabeau SC", sans-serif;
  font-size: 24px;
  color: #2a5699;
  font-weight: bold;
  margin: 10px 0;
  letter-spacing: 1.5px;
}
.pet-description {
  font-family: "Ysabeau SC", sans-serif;
  font-size: 18px;
  margin: 10px 0;
  font-weight: bold;
  color: #000;
}

.adoption-buttons .pets-botton {
  margin-top: 5px;
  border: 1px solid #6b5763;
  padding: 2.5px;
  color: #6b5763;
  background-color: #fff;
  box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.25);
}

.adoption-buttons {
  display: flex;
  justify-content: space-between;
}

svg {
  align-self: flex-end;
}

h6 {
  color: #9e1f63;
}

h3 {
  color: #9e1f63;
  letter-spacing: 1px;
  text-shadow: -1px 0 #f7fcff, 0 1px #f7fcff, 1px 0 #f7fcff, 0 -1px #f7fcff;
  display: flex;

  justify-content: center;
}

.more-detailes-button {
  display: flex;
  align-self: center;
  margin-top: auto;
}
