@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@200;800&display=swap");
body {
  font-family: "Raleway", sans-serif !important ;
}

.nav-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 2px solid #2a2a37;
}
.fullName h5 {
  order: 1;
  color: #2a2a37;
  letter-spacing: 1.5px;
  font-size: 18px;
  font-weight: bold;
}

.nav-end-container {
  flex-grow: 0.1;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  width: 236px;
  margin: 0.5%;
  align-items: baseline;
}
.link {
  text-decoration: none;
  font-size: 18px;
  color: #6b5763;
  margin: 0 10px;
}

.search-container {
  flex-grow: 0.6;
}
.svg-search {
  height: auto;
  text-align: center;
  font-size: 23px;
  color: #6b5763;
}
.svg-search:hover + .search-text {
  display: block;
}
.search-text {
  transform: translate(16px, -90%);
  width: 70%;
  text-align: center;
  font-size: 18px;
  color: #6b5763;
  display: none;
}
/* .swiper-container {
  overflow-x: auto;
  background-color: none;
}

.swiper-wrapper {
  margin-top: 8vh;
  display: flex;
  flex-wrap: nowrap;
}
.swiper-button-prev:after .swiper-button-next:after {
  color: #6b5763;
} */

.advenced {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

.search-button {
  display: flex;

  justify-content: center;
}

.search-button:hover {
  transform: scale(1.5);

  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.form-switch {
  display: flex;
  justify-content: center;
  padding-left: -2.5em;
}

.search-header {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
