@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@200;800&family=Ysabeau+SC:wght@300&display=swap");

body {
  font-family: "Raleway", sans-serif !important ;
}

.nav-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 2px solid #2a2a37;
}
.fullName h5 {
  order: 1;
  color: #f0f0f3;
  letter-spacing: 1.5px;
  border-right: 2px solid #ccc;
  padding-right: 1vw;
  font-size: 18px;
  font-weight: bold;
}

.nav-end-container {
  flex-grow: 0.1;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  width: 236px;
  margin: 0.5%;
  align-items: baseline;
}
.link {
  text-decoration: none;
  font-size: 18px;
  color: #6b5763;
  margin: 0 10px;
}
.svg-search {
  height: auto;
  text-align: center;
  font-size: 23px;
}
.svg-search:hover + .search-text {
  display: block;
}

.search-container {
  flex-grow: 0.6;
}

.search-page-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 50vh;
}

.search-text {
  transform: translate(16px, -90%);
  width: 70%;
  text-align: center;
  font-size: 18px;
  font-weight: bold;
  color: #fff;
  display: none;
}

.advenced {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 30px;
}

.search-button {
  display: flex;

  justify-content: center;
}

.search-button:hover {
  transform: scale(1.5);

  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.search-header h3 {
  display: flex;
  font-family: "Raleway", sans-serif;
  font-weight: bold;
  color: rgb(18, 136, 121);
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.search_link {
  display: flex;
  justify-content: center;
  text-decoration: underline;

  color: #6b5763;
  font-weight: bold;
  margin-top: 4vh;
  font-size: 18px;
}

.arrow-svg svg {
  width: 25px;
  height: 25px;
}

.arrow-svg h1 {
  display: flex;
  justify-content: center;
  color: #fec95f;
  font-weight: bold;
}

.current-user-container {
  margin: 0;
  min-height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.current-user-profile {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding-left: 2vw;
  width: 50%;
}

.current-user-profile h2 {
  display: flex;
  align-items: center;
  padding-right: 1.5vw;
  color: #6b5763;
  font-weight: bold;
  font-size: 24px;
}

.current-user-profile h3 {
  display: flex;
  align-items: center;
  color: #6b5763;
  font-size: 18px;
}

.current-user-profile-item {
  margin-top: 3vh;
  display: flex;
}

.edit-profile {
  justify-content: center;
  display: flex;
}

footer {
  position: fixed;
  background-color: #302f2f;
  color: #fff;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 8px;
  text-align: end;
}
