/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */
App {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  color: black;
}
.nav,
.linkNav {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding-right: 80px;
}

.custom-color {
  background-color: #ff0000; /* Replace with your desired color */
  /* Additional styles if needed */
}

.nav-item {
  margin-right: 30px;
}

.fullName {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
