/* body {
  background-image: url("../images/—Pngtree—simple\ cute\ pet\ dog\ background_1375478.png");
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
} */

.main-login {
  display: flex-end;
  justify-content: center;
}

.btn-primary {
  margin-left: 2vw;
}

.link {
  border: none;
  color: #6b5763;

  background-color: #fff;
}
.logged-out-container {
  display: flex;
  flex-direction: row;
  height: 100vh;
}
#logged-out-background-img {
  flex: 1;
  display: flex;
}
.text-wrapper-loggedout {
  background-color: #23aae2;
  flex: 1;
}

.main-description {
  display: flex;
  background-color: #23aae2;
  color: #1c1f4e;
  padding: 10vw 10vh;
  flex-direction: column;
  align-items: stretch;
  letter-spacing: 1px;

  text-shadow: -1px 0 #fff, 0 1px fff, 1px 0 fff, 0 -1px #fff;
  font-size: 20px;
}
