/* body {
  background-image: url("../images/—Pngtree—simple\ cute\ pet\ dog\ background_1375478.png");
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
} */

.btn-primary {
  margin-left: 2vw;
}

.link {
  border: none;
  color: #fcbeb3;

  background-color: #fff;
}
.loggedOutContainer {
  display: flex;
  flex-direction: row;
  height: 100vh;
}
#loggedOutBackgroundImg {
  flex: 1.2;
  display: flex;
  flex-direction: column;
  position: relative;
  border: 3px solid #000;
  background-color: #302f2f;
}

.pngwing_png {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-position: center;
}
.HeadlineLoggedout h1 {
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}
.HeadlineLoggedout {
  position: absolute;
  margin: auto;
  top: 94%;
  left: 17%;
  transform: translate(-50%, -50%);
  background: linear-gradient(to right, #4a4a76, #393961 10%, #737376 20%);
  font-size: 20px;
  font-weight: bold;

  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: shine 10s infinite forwards;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

@keyframes shine {
  0% {
    background-position: 0;
  }
  60% {
    background-position: 600px;
  }
  100% {
    background-position: 600px;
  }
}

.textWrapperLoggedout {
  flex: 1;
  border: 3px solid black;
  position: relative;
}

.mainDescription {
  display: flex;

  color: #1c1f4e;
  padding: 10vw 10vh;
  flex-direction: column;
  align-items: stretch;
  letter-spacing: 1px;
  font-family: "Ysabeau SC", sans-serif;
  text-shadow: -1px 0 #fff, 0 1px fff, 1px 0 fff, 0 -1px #fff;
  font-size: 20px;
}

.mainLogin {
  display: flex;
  position: absolute;
  top: 30%;
  left: 20%;

  flex-direction: column;
  /* align-content: center;
  flex-wrap: wrap; */
}

.signuplogin {
  margin: 5vh 0 1vh 0;
}
