/* body {
  background-image: url("../images/—Pngtree—simple\ cute\ pet\ dog\ background_1375478.png");
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
} */

.btn-primary {
  margin-left: 2vw;
}

.link {
  border: none;
  color: #fcbeb3;

  background-color: #fff;
}
.loggedOutContainer {
  display: flex;
  flex-direction: row;
  height: 100vh;
}
#loggedOutBackgroundImg {
  flex: 1;
  display: flex;
  flex-direction: column;
  position: relative;
}

.HeadlineLoggedout {
  position: absolute;
  font-weight: 800;
  top: 76%;
  left: 55%;

  transform: translate(-50%, -50%);
  padding: 80px;
  background: linear-gradient(
    to right,
    #d91a5a,
    hsl(0, 0%, 100%) 10%,
    #f35ca9 20%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: shine 5s infinite forwards;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

@keyframes shine {
  0% {
    background-position: 0;
  }
  60% {
    background-position: 600px;
  }
  100% {
    background-position: 600px;
  }
}

.textWrapperLoggedout {
  background-color: #a4ddf8;
  flex: 1;
}

.mainDescription {
  display: flex;
  background-color: #a4ddf8;
  color: #1c1f4e;
  padding: 10vw 10vh;
  flex-direction: column;
  align-items: stretch;
  letter-spacing: 1px;

  text-shadow: -1px 0 #fff, 0 1px fff, 1px 0 fff, 0 -1px #fff;
  font-size: 20px;
}

.mainLogin {
  display: flex;

  margin: 8vh;
  justify-content: space-evenly;
}
